.small-padding-sides {
  padding: 0px 10px;
}
.card-content-padding{
  padding-top: 6px;
}
.dataLabel {
  font-size: 0.8rem;
  color: #9e9e9e !important;
  margin-bottom: 2px;
}

.data {
  margin: 0px;
}
