<div class="row">
  <div class="col s12 m12 l6 offset-l3">
    <div class="center padding-top-subtitles">
      <p class="title-section-mobile " appStyleApp [classCss]="'color2'" translate>Reservas</p>
    </div>

    <div *ngFor="let book of books | async">
      <p>{{book.name}}</p>
    </div>


    <div class="row">

      <form materialize [formGroup]="bookForm" (ngSubmit)="onSubmit()">
        <div class="input-field col s12 m6 l4">
          <input id="numberOfPersons" type="text" formControlName="numberOfPersons"
                 [inputvalidate]="bookForm.controls['numberOfPersons']">
          <label for="numberOfPersons">Número de Personas</label>
        </div>

        <div class="input-field col s12 m6 l4">
          <input formControlName="date" type="date"  type="text" class="datepicker" materialize="pickadate"
                 [materializeParams]="[params]" type="text">
        </div>
        <div class="input-field col s12 m6 l4">
          <select formControlName="bookHour" placeholder="Seleccione la hora" materialize="material_select" [materializeSelectOptions]="hours | async">
            <option *ngFor='let hour of hours | async' [value]="hour.value">{{hour.name}}</option>
          </select>
        </div>
        <div class="input-field col s12 m6 l4 right-align">
          <div class="center">
            <button type="submit" class="btn btn-success">Guardar</button>
          </div>
        </div>
      </form>
    </div>


  </div>
</div>
