<?xml version='1.0' encoding='utf-8'?>
<widget id="es.mabu.galipizza" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Galipizza</name>
    <description>
       MabuRestaurant
    </description>
    <author email="info@mabu.es" href="http://mabu.es">
        Mabu Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <platform name="android">
	      <icon src="res/android/mipmap-ldpi/ic_launcher.png" density="ldpi" />
              <icon src="res/android/mipmap-mdpi/ic_launcher.png" density="mdpi" />
              <icon src="res/android/mipmap-hdpi/ic_launcher.png" density="hdpi" />
              <icon src="res/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="~2.3.0" />
    <engine name="android" spec="~6.1.2" />
</widget>
