.no-upper-case {
  text-transform: none
}

.small-padding-sides {
  padding: 0px 10px;
  margin-right: 10px;
}

.reserve-button {
  margin-left: 10px;
  text-transform: none;
}

.icon-disablefilter {
  display: block;
  margin-top: -32px;
  margin-right: -20px;
  font-size: 11px;
}

.initial-row {
  padding-bottom: 5px;
  padding-top: 5px;
}
