<div class="row">
  <div class="col s12 m12 l6 offset-l3">
    <div class="center padding-top-subtitles">
      <p class="title-section-mobile" appStyleApp [classCss]="'color2'" translate>order-page.title</p>
    </div>

    <div class="collection no-border">
      <a *ngFor=" let order of orders | async; let index=index" class="collection-item pointer"
         routerLink="/orders/{{order.id}}">
        <div class="row">
          <div class="col s6">
            <p class="dataLabel">Fecha</p>
            <p class="data">{{order.created | date:'shortDate' }}</p>
          </div>

          <div class="col s6">
            <p class="dataLabel">Hora</p>
            <p class="data">{{order.created | date:'shortTime' }}</p>
          </div>

          <div class="col s6">
            <p class="dataLabel">Precio total</p>
            <p class="data">{{order.totalPrice}} €</p>
          </div>

          <div class="col s6">
            <p class="dataLabel">Estado</p>
            <p class="data" translate>order-page.status.{{order.status}}</p>
          </div>

        </div>
      </a>
    </div>
  </div>
</div>


