<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s6">
        <p class="dataLabel">Precio total</p>
        <p class="data"> {{totalPrice}}€</p>
      </div>
      <div class="col s6">
        <p class="dataLabel">Gastos de envío</p>
        <p class="data"> 0.00€</p>
      </div>
    </div>
    <p class="dataLabel">Productos</p>
    <ul class="collection no-border">
      <li *ngFor="let product of cart.products; let index=index" class="collection-item avatar">
        <img [src]="urlImage+product.imageName" class="circle">
        <span class="title">{{product.name}}</span>
        <div class="row">
          <div class="col s6">
            <p class="dataLabel">Unidades</p>
            <p class="data">{{product.quantity}}</p>
          </div>
          <div class="col s6">
            <p class="dataLabel">Precio total</p>
            <p class="data">{{product.totalPrice * product.quantity}}€</p>
          </div>

          <div *ngFor="let option of product.options">
            <div class="col s6">
              <p class="dataLabel"> {{option.optionName}}</p>
              <p class="data">{{option.optionLineName}}</p>
            </div>
          </div>

        </div>
      </li>
    </ul>
  </div>
</div>
