<div class="row">
  <div class="col s12 m12 l6 offset-l3">
    <div class="center padding-top-subtitles">
      <p class="title-section-mobile" appStyleApp [classCss]="'color2'" translate>address-form.title</p>
    </div>

    <form [formGroup]="addressForm" novalidate>
      <div class="card">
        <div class="card-content">
          <div class="row">

            <div class="input-field col s12 m6">
              <input id="street" type="text" formControlName="street"
                     [inputvalidate]="addressForm.controls['street']">
              <label for="street" data-error="Obligatorio" translate>address-form.street</label>
            </div>


            <div class="input-field col s12 m6">
              <input id="number" type="text" formControlName="number"
                     [inputvalidate]="addressForm.controls['number']">
              <label for="number" data-error="Obligatorio" translate>address-form.number</label>
            </div>

            <div class="input-field col s12 m6">
              <input id="unity" type="text" formControlName="unity"
                     [inputvalidate]="addressForm.controls['unity']">
              <label for="unity" data-error="Obligatorio" translate>address-form.unity</label>
            </div>

            <div class="input-field col s12 m6">
              <input id="postalCode" type="text" formControlName="postalCode"
                     [inputvalidate]="addressForm.controls['postalCode']">
              <label for="postalCode" data-error="Obligatorio" translate>address-form.pc</label>
            </div>

            <div class="input-field col s12 m6">
              <input id="city" type="text" formControlName="city"
                     [inputvalidate]="addressForm.controls['city']">
              <label for="city" data-error="Obligatorio" translate>address-form.city</label>
            </div>

            <div class="input-field col s12 m6">
              <input id="state" type="text" formControlName="state"
                     [inputvalidate]="addressForm.controls['state']">
              <label for="state" data-error="Obligatorio" translate>address-form.state</label>
            </div>

            <div class="input-field col s12 m6">
              <input id="country" type="text" formControlName="country"
                     [inputvalidate]="addressForm.controls['country']">
              <label for="country" data-error="Obligatorio" translate>address-form.country</label>
            </div>


            <div class="input-field col s12 m6">
              <input id="observations" type="text" formControlName="observations"
                     [inputvalidate]="addressForm.controls['observations']">
              <label for="observations" data-error="Obligatorio" translate>address-form.observations</label>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <mbr-error-card [(error)]=error [errorMessage]=errorMessage></mbr-error-card>
            </div>
            <div class="col s6">
              <div class="left">
                <button type="reset" (click)="onExit()" class="btn btn-danger" appStyleApp [classCss]="'color6'"
                        translate>common.cancel
                </button>
              </div>
            </div>
            <div class="col s6">
              <div class="right">

                <button type="submit" (click)="onSubmit()"
                        [disabled]="addressForm.invalid || disableForm" class="btn btn-success" appStyleApp
                        [classCss]="'color5'" translate>common.save
                </button>
              </div>

            </div>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>
