.shoppingCartNumberMobile {
  top: -7px;
  position: absolute;
  font-size: 11px;
  text-align: center;
  right: 5px;
  border-radius: 50%;
}

.shoppingCartNumberDesktop {
  top: -7px;
  position: absolute;
  font-size: 11px;
  text-align: center;
  right: 76px;
  border-radius: 50%;
}

.dropdown-desktop {
  width: 130px !important;
}

.subtitle-nav-mobile {
  font-size: 0.8rem;
  display: block;
  margin-top: -33px;
}

.subtitle-nav-desktop {
  font-size: 0.8rem;
  display: block;
  margin-top: -38px;
}

.title-nav {
  margin-top: -5px;
  cursor: pointer;
}

