<div class="card hoverable" appStyleApp [classCss]="'color9'" [routerLink]="['./product',product.name]" style="cursor:pointer">
  <div class="card-image">
    <img draggable="false" [src]="urlImage+product.imageName">
  </div>
  <div class="card-content" style="padding: 6px;">
    <span class="card-title grey-text text-darken-4 truncate center ">{{product.name}}
    </span>
    <div class="center">
      <p style="font-weight: bolder;">{{product.productDetails[0].price}}€</p>
    </div>
  </div>
</div>

