<div [class.hide]="!hideAddress">
  <div class="row">
    <div class="col s12  m12 l6 offset-l3">
      <div class="center padding-top-subtitles">
        <p class="title-section-mobile" appStyleApp [classCss]="'color2'" translate>profile-page.title</p>
      </div>

      <div class="card">
        <div class="card-content">
          <!--<h5 translate>profile-page.data</h5>-->
          <div class="row">
            <div class="col s12">
              <p class="personalDataLabel">Email</p>
              <p>{{client.email}}</p>
              <p class="personalDataLabel">Name</p>
              <p>{{client.name}}</p>
              <p class="personalDataLabel">Mobile number</p>
              <p>{{client.mobile}}</p>
            </div>

            <!--Bank Card-->
            <div [class.hide]="client.last4CardDigits===null">
              <div class="col s12">
                <p class="personalDataLabel">Bank card</p>
              </div>

              <div class="col s10">
                <p>***{{client.last4CardDigits}}</p>
              </div>
              <div [class.hide]="client.last4CardDigits===null" class="col s2">
                <div class="right">
                  <button class="btn btn-success small-padding-sides red"
                          (click)="deleteBankCard()"><i class="small material-icons">delete</i></button>
                </div>
              </div>
            </div>

            <div class="col s12">
              <p class="personalDataLabel" translate>profile-page.address</p>
            </div>
            <div class="col s10">
              <p>{{addressString}}</p>
            </div>
            <div class="col s2">
              <div class="right">
                <button class="btn btn-success small-padding-sides" appStyleApp [classCss]="'color4'"
                        (click)="openAddressForm()"><i
                  class="small material-icons">mode_edit</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-address-form [class.hide]="hideAddress" (onBack)="onBack($event)"></app-address-form>

<a materialize [materializeParams]="['Dirección actualizada',4000]"
   [materializeActions]="toastUpdateActions"></a>
