<div class="center">
  <p class="title-section-mobile" appStyleApp [classCss]="'color2'">Pago</p>
</div>

<div class="row">
  <div class="col s12 m12 l6 offset-l3">
    <div class="card">
      <div class="card-content">
        <h5 translate> Resumen de pedido</h5>
        <div class="row">
          <div class="col s12">
            <p>Dirección: {{getAddressFormated(order.address)}}</p>
            <p>Nota de pedido:{{order.clientNote}}</p>
            <p>Tiempo estimado: {{order.estimatedPickupOrDeliveryTime}}</p>
            <p>Precio total: {{order.totalPrice}}</p>
            <p>Restaurante:{{order.restaurantId}}</p>
          </div>
        </div>
        <form [formGroup]="paymentForm" id="payment-form">
          <div class="form-row">

            <mbr-error-card [(error)]=error [errorMessage]=errorMessage></mbr-error-card>

            <label [class.hide]="useDefaultCard" for="card-element">
              Tarjeta de crédito o débito
            </label>
            <div [class.hide]="useDefaultCard" id="card-element"></div>


            <div id="card-errors"></div>


            <div [class.hide]="useDefaultCard"  class="input-field col s12">
              <input type="checkbox" id="savePaymentDetails" formControlName="savePaymentDetails"/>
              <label for="savePaymentDetails">Guardar datos de pago en Stripe.com</label>
            </div>

            <div [class.hide]="!hasDefaultCard" class="input-field col s12">
              <input type="checkbox" id="useDefaultCard" formControlName="useDefaultCard"/>
              <label for="useDefaultCard">Usar tarjeta por defecto</label>
            </div>



          </div>
          <br>
          <div class="right-align">
            <img class="left-align" src="assets/resources/powered_by_stripe.svg">
          </div>
          <br>


          <div class="center">
            <button class="waves-effect waves-light btn" appStyleApp [classCss]="'color4'" [disabled]="!formValid"
                    (click)="submitPayment()">Pagar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-------------------------------------------- TOASTS --------------------------------------------------->
<a  materialize [materializeParams]="['Pago realizado',4000]"
   [materializeActions]="toastActions"></a>
