/* You can add global styles to this file, and also import other style files */
$flag-icon-css-path: '~flag-icon-css/flags' !default;
@import "../node_modules/flag-icon-css/sass/flag-icon";

//@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600');
//body {
//  display: flex;
//  min-height: 73.8vh;
//  flex-direction: column;
//  font-family: 'Raleway', sans-serif;
//}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*-------------------------------------Margin Styles-------------------------------------*/

.no-margin {
  margin: 0px;
}

.no-margin-top {
  margin-top: 0px;
}
.no-margin-bottom {
  margin-bottom: 0px;
}

/*-------------------------------------Padding Styles-------------------------------------*/

.padding-top-subtitles{
  padding-top: 8px;
}

.no-padding {
  padding: 0px;
}

.no-padding-top {
  padding-top: 0px !important;
}

.no-padding-bottom {
  padding-bottom: 0px !important;
}



/*-------------------------------------Border Styles-------------------------------------*/
.no-border {
  border: 0px;
}

//main {
//  flex: 1 0 auto;
//}

/*------------------------------------- \\ -------------------------------------*/

.title-section-mobile {
  font-size: 15px;
  margin-top: 0px;
  border-radius: 2px;
  margin-bottom: 0px;
  top: 0px;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.pointer{
  cursor: pointer;
}

/*-------------------------------------Google Maps-------------------------------------*/
/*Override modal
Cuando despliegas el modal si estas en movil
ma mascara oscura se ve.*/
.modal-overlay{
  height: 200% !important;
}


agm-map {
  display: block;
  position: relative;
  height: 200px !important;
  width: 100% !important;
}


.background-image {
  background: url("./assets/resources/back-error.jpg")  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  flex:1;
}


