<div class="row">
  <div class="col s12 m12 l6 offset-l3">
    <div class="center padding-top-subtitles">
      <p class="title-section-mobile" appStyleApp [classCss]="'color2'">Pedido del {{order.created
        |date:'shortDate'}}</p>
    </div>

    <div class="card">
      <div class="card-content">
        <p>Estado: {{order.status}}</p>
        <p>Hora: {{order.created |date:'shortTime' }}</p>
        <p>Dirección: {{getAddressFormated(order.address)}}</p>
        <p>Nota de pedido:{{order.clientNote}}</p>
        <p>Tiempo estimado: {{order.estimatedPickupOrDeliveryTime}}</p>
        <p>Precio total: {{order.totalPrice}}</p>
        <p>Restaurante:{{order.restaurantId}}</p>
        <ul class="collection no-border">
          <li *ngFor="let orderLine of order.orderLines; let index=index" class="collection-item avatar">
            <img [src]="urlImage+orderLine.productImage" class="circle">
            <span class="title">{{orderLine.productName}}</span>
            <p>{{orderLine.quantity}} und.<br>
              {{orderLine.totalPrice}} €
            </p>
            <p *ngFor="let option of orderLine.optionLinePrices">{{option.optionName}}: {{option.chossenOptionName}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

