<div class="row">
  <div class="col s12 m12 l6 offset-l3">
    <div class="center padding-top-subtitles">
      <p class="title-section-mobile" appStyleApp [classCss]="'color2'">Pedido del {{order.created
        |date:'shortDate'}}</p>
    </div>

    <div class="card">
      <div class="card-content">
        <div class="row">

          <div class="col s6">
            <p class="dataLabel">Hora</p>
            <p class="data">{{order.created | date:'shortTime' }}</p>
          </div>

          <div class="col s6">
            <p class="dataLabel">Precio total</p>
            <p class="data">{{order.totalPrice}} €</p>
          </div>

          <div class="col s6">
            <p class="dataLabel">Estado</p>
            <p class="data" translate>order-page.status.{{order.status}}</p>
          </div>

          <div class="col s6">
            <p class="dataLabel">Tipo de pedido</p>
            <p class="data" translate>payment-page.services.{{order.serviceType}}</p>
          </div>


          <div [class.hide]="order.estimatedPickupOrDeliveryTime==null"  class="col s6">
            <p class="dataLabel">Tiempo estimado</p>
            <p class="data" translate>{{order.estimatedPickupOrDeliveryTime}}</p>
          </div>

          <div class="col s6">
            <p class="dataLabel">Restaurante</p>
            <a  class="data" [routerLink]="['/'+order.restaurantName,'info']"  translate>{{order.restaurantName}}</a>
             </div>

          <div [class.hide]="order.clientNote==''" class="col s6">
            <p class="dataLabel">Nota de pedido</p>
            <p class="data" translate>{{order.clientNote}}</p>
          </div>

          <div *ngIf="order.serviceType==='DELIVERY'"  class="col s12">
            <p class="dataLabel">Dirección</p>
            <p class="data" translate>{{getAddressFormated(order.address)}}</p>
          </div>

          <div class="col s12">
            <p class="dataLabel">Productos</p>
          </div>

        </div>
        <h5></h5>


        <ul class="collection no-border">
          <li *ngFor="let orderLine of order.orderLines; let index=index" class="collection-item avatar">
            <img [src]="urlImage+orderLine.productImage" class="circle">
            <span class="title">{{orderLine.productName}}</span>
            <p>{{orderLine.quantity}} und.<br>
              {{orderLine.totalPrice}} €
            </p>
            <p *ngFor="let option of orderLine.optionLinePrices">{{option.optionName}}: {{option.chossenOptionName}}</p>
          </li>
        </ul>


        <div class="center">
          <button *ngIf="order.status==='PENDING_PAYMENT'" type="button" class="waves-effect waves-light btn"
                  [routerLink]="['/stripe',order.id]" appStyleApp [classCss]="'color4'">Pagar
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

